div {
    border: 2px solid red;
    margin-bottom: 10px
}

div:hover {
    color: orange;
}

a {
    border: 2px solid green;
    padding: 5px;
}


a:active {
    color: red;
}

a:visited {
    color: green;
}

input:focus {
    background-color: green;
}

li:first-child {
    color: orange;
}

li:nth-child(3) {
    color: green;
}