/* * {
    margin: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 3fr 1fr;
    height: 100vh;
    row-gap: 30px;
    column-gap: 20px;
}

.grid>*{
    border: 1px solid #000;
    border-radius: 10px;
} */





/* 
#grade {
    display: grid;
    grid-template-columns: 20% auto 15%;
    grid-template-rows: 100px 1fr 1fr 75px;
    height: 100vh;
    width: 100vw;
    gap: 10px;

    grid-template-areas: 
    "nav header header"
    "nav produtos publicidade"
    "nav servicos publicidade"
    "nav footer footer "
    ;
}

#grade>* {
    border: 1px solid #000;
}

header {
    grid-area: header;
}

section#produtos {
    grid-area: produtos;
}

section#servicos {
    grid-area: servicos;
}

nav {
    grid-area: nav;
}

aside {
    grid-area: publicidade;
}

footer {
    grid-area: footer;
} */

#grade {
    display: grid;
    grid-template-columns: 40% 40% auto;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
    width: 100vw;
    gap: 10px;

    grid-template-areas: 
    "header nav nav"
    "header section aside1"
    "footer section aside2"
    ;
}

#grade>*{
    border: 1px solid #000;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

section {
    grid-area: section;
}

aside#dgreen {
    grid-area: aside1;
}

footer {
    grid-area: footer;
}

aside#green {
    grid-area: aside2;
}
